@charset "UTF-8";

/*상단 상세*/
#wrap {height: 1500px}
header {height:100px}
.searchBox{width:400px}
.searchInput {width:350px; height:50px; border-left: 0px; border-top:0px; border-right:0px}
.searchBtn{width:50px; height:50px; border-left: 0px; border-top:0px; border-right:0px; background-color:#ffffff}
.mainLogo{font-size:60px; font-family:serif}
.top-menu{font-size:15px; color:#ffffff}

nav {height: 70px; border-top:3px solid; border-bottom:1px solid; color:#000000}

.imageBox{width: 1550px; height: 700px; background-color: #66c0bc;}


.partBox{width:1650px; height:200px; background-color:#ffffff}
.middleBox{background-color:#b5a6e2; width: 450px; height:200px}
.middleText {display: grid; place-content: center; text-align:center; font-size:30px}

.bottomBox{width:1550px; height:50px;}
.bottom-imageBox{width:1550px; height: 800px;}


/*로그인 */
/* .loginView {width:1200px; height:1200px; border:2px} */
.loginBox {width:1000px; height:150px; font-family:serif}
.inputBox {width:1000px; height:80px; }
.inputId {height:50px; border-left:0px; border-top:0px; border-right:0px}
.inputPw {height:50px; border-left:0px; border-top:0px; border-right:0px}
.signInBtn {width:416px; height:50px}
.signUpBtn {width:416px; height:50px}

/*회원가입*/
.signUp{font-family:serif}
.signUpInputBox{width:550px; height:1000px; }
.signUpInput{height:70px}
#overlapCheckId {background-color:#c43c5e; }

input::placeholder{font-size:20px; font-weight:bold;}
#emailDomain{width:250px; height:70px; font-size:20px; font-weight:bold}
.signupBtn{background-color:#c43c5e; height:70px; font-size:30px}
a:hover{text-decoration:none}

