@charset "UTF-8";

#wrap {width: 1900px; height: 1500px}
header {height:100px}
.searchBox{width:400px}
.searchInput {width:350px; height:50px; border-left: 0px; border-top:0px; border-right:0px}
.searchBtn{width:50px; height:50px; border-left: 0px; border-top:0px; border-right:0px; background-color:#ffffff}
.mainLogo{font-size:60px; font-family:serif}
.top-menu{font-size:15px; color:#ffffff}

nav {height: 70px; border-top:3px solid; border-bottom:1px solid; color:#000000}

.imageBox{width: 1550px; height: 700px; background-color: #66c0bc}


.partBox{width:1650px; height:200px; background-color:#ffffff}
.middleBox{background-color:#b5a6e2; width: 450px; height:200px}
.middleText {display: grid; place-content: center; text-align:center; font-size:30px}

.bottomBox{width:1550px; height:50px;}
.bottom-imageBox{width:1550px; height: 700px;}

a:hover{text-decoration:none}

/*sign In */
.loginBox {width:1000px; height:150px; font-family:serif}
.inputBox {width:1000px; height:80px; }
.inputId {height:50px; border-left:0px; border-top:0px; border-right:0px}
.inputPw {height:50px; border-left:0px; border-top:0px; border-right:0px}
.signInBtn {width:416px; height:50px}
.signUpBtn {width:416px; height:50px}

/*sign Up*/
.signUp{font-family:serif}
.signUpInputBox{width:550px; height:1000px; }
.signUpInput{height:70px}
#overlapCheckId {background-color:#c43c5e; }

input::placeholder{font-size:20px; font-weight:bold;}
#emailDomain{width:250px; height:70px; font-size:20px; font-weight:bold}
.signupBtn{background-color:#c43c5e; height:70px; font-size:30px}
a:hover{text-decoration:none}


/*part page  */
.upBox{width:1550px; height:550px;}
.topPartBox{ width: 1050px; height:450px; font-size: 30px}
.productBox {width:1550px; height:600px;} 

.uppertext{width:500px; height:500px; border:1px solid black; font-size:40px; font-family:serif; background-color:#000000;}


/*cart */
.emptyBox{width:1200px; height:100px;}
.emptyBox1{width:1200px; height:30px;}
.shoppingBasket{width:1200px; height:50px;}
.basketText{font-size:40px}
.basket{width:1200px; height: 400px; background-color:#ffffff; border:1px solid black; border-left:0px; border-right:0px}
.saleBtn1{width:210px; height:80px; background-color:#000000; font-size:25px}
.saleBtn2{width:210px; height:80px; background-color:#ffffff; font-size:25px}

/*detail view*/
.detailImageBox{width:1500px; height:700px; }
.product{width:600px; height:600px; }
.detailBox{width:500px; height:700px; }
.centerEmpty{width:200px; height:600px;}
.productName{font-size:40px}
.productPrice{font-size:30px}
.cartBtn {width:250px; height:80px; font-size:25px}
.buyBtn {width:250px; height:80px; background-color:#c43c5e; font-size:25px}
.reviewText{width:1500px; height:60px; font-size:50px}


